<div class="m-4">
  <div *ngIf="results.length == 0">
    <h4>No se encontraron resultados.</h4>
  </div>
  <h4 *ngIf="results.length > 0" class="mb-3">Resultados</h4>
  <hr>
  <ul>
    <li *ngFor="let place of results">
      <a [routerLink]="'/details/'+place.id"> <b>{{place.name | uppercase}}</b>
        <p>
          {{place.text}}
        </p>
      </a>
      <hr>
    </li>
  </ul>
</div>
