<div class="container-fluid pt-1 pb-1" style="background-color: #18F3D9;">
  <div class="row">

    <div class="col">
      <a href="#"><img src="assets/logo.png" width="100" height="40"></a>
    </div>
    <div class="col">
      <div class="input-group">
        <input type="text" [(ngModel)]="textFilter" (keydown)="onKeydown($event)" placeholder="¿A dónde quieres ir?" class="form-control">
        <button class="btn btn-secondary" (click)="search()"><fa-icon [icon]="searchIcon"></fa-icon></button>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>
