<div class="mt-3">
  <carousel [interval]="myInterval" [(activeSlide)]="activeSlideIndex">
    <slide *ngFor="let slide of slides; let index=index">

      <img class="border rounded" [src]="slide.image" height="500" alt="image slide"
        style="display: block; width: 100%;">
      <div class="carousel-caption" style="background-color: rgba(43, 4, 4, 0.473);">
        <p>{{slide.text}}</p>
      </div>
    </slide>
  </carousel>
</div>

<div>
  <hr>
  <h2>
    Recomendaciones
  </h2>
</div>
   
<recomendation-card [places]="slides"></recomendation-card>

