<div class="card mt-4">
  <div class="card-header">
    {{place.name | uppercase}}
  </div>
  <div class="card-body">
      <div class="float-start m-3">
        <img class="rounded" [src]="place.image" width="300" height="300">
      </div>
    <div>
        <h2>Información General</h2>
        <p class="card-text m-3">{{place.text}}</p>
        <h4>Precio estimado por persona: {{place.price | currency:'HNL '}}</h4>
    </div>
    
  </div>
</div>
