  <div class="row">

    <div *ngFor="let place of places" class="col-4 mb-3 d-flex justify-content-center">
        <div class="card" style="width: 300px;">
          <img [src]="place.image" height="250" class="card-img-top" [alt]="place.title">
          <div class="card-body">
            <div class="card-title">{{place.name}}</div>
            <div class="d-flex justify-content-center">
              <button class="btn btn-sm btn-secondary" [routerLink]="'details/'+place.id" >ver mas...</button>
            </div>
          </div>
        </div>
      </div>

  </div>
